%html{html_attrs}
  %head
    %link{rel: "stylesheet", href: "dependencies/bootstrap/css/bootstrap.min.css"}
    %link{rel: "stylesheet", href: "dependencies/bootstrap/css/bootstrap-responsive.min.css"}
    %link{rel: "stylesheet", href: "dependencies/font-awesome/font-awesome.min.css"}
    %link{rel: "stylesheet", href: "stylesheets/testing.css"}
    %script{src: "dependencies/lodash.min.js"}
    %script{src: "http://code.jquery.com/jquery-1.9.0.min.js"}
    %script{src: "dependencies/bootstrap/js/bootstrap.min.js"}
    %script{src: "strapTK.js"}
    // GET STRAP'D
    %script{src: "javascripts/page.js"}
    %script{src: "javascripts/home.js"}
    %script{src: "javascripts/api.js"}
    %script{src: "javascripts/about.js"}

  %body