#header {
  text-align: center;
}

#header-nav {
  margin: 20px -60px -60px;
  border-radius: 0px;
}

#header-nav .navbar-inner {
  border-radius: 0px;
  padding: 0px 510px;
}

#main {
  width: 900px;
  margin: 0 auto;
}