<div class='carousel slide' id='myCarousel'>
  <ol class='carousel-indicators'>
    {{ _(slides).each(function(slide){ }}
    <li data-slide-to='' data-target='#myCarousel'></li>
    {{= slide}}
    {{ }); }}
  </ol>
  <!-- Carousel items -->
  <div class='carousel-inner'>
    {{ _(items).each(function(item){ }}
    <div class='item'></div>
    {{= item}}
    {{ }); }}
  </div>
  <!-- Carousel nav -->
  <a class='carousel-control left' data-slide='prev' href='#myCarousel'>&lsaquo;</a>
  <a class='carousel-control right' data-slide='next' href='#myCarousel'>&rsaquo;</a>
</div>
