#header {
  text-align: center; }

#header-nav {
  margin: 20px -60px -60px;
  border-radius: 0px; }
  #header-nav .navbar-inner {
    border-radius: 0px; }
  #header-nav .divider-vertical {
    padding: 5px 0px;
    margin: 0; }

#navbar-format {
  width: 900px;
  margin: 0 auto; }

#todo-list {
  list-style: none;
  margin-left: 0px; }

#api .table th {
  text-align: center; }

.main {
  width: 900px;
  margin: 0 auto; }

/*.content {
  max-height: 100%;
  overflow: auto;
}*/
.well {
  color: #333; }

.function-declaration {
  background: #fff;
  padding: 5px 20px;
  border: 1px solid #dedede;
  margin: 0 -20px 21px;
  font-size: 18px;
  color: darkgreen; }
  .function-declaration strong {
    color: darkblue; }
  .function-declaration small {
    display: block;
    color: black; }
