#header {
  text-align: center;
}

#header-nav {
  margin: 20px -60px -60px;
  border-radius: 0px;
}

#header-nav .navbar-inner {
  border-radius: 0px;
}

#navbar-format {
  width: 900px;
  margin: 0 auto;
}

#main {
  width: 900px;
  margin: 0 auto;
}

#todo-list {
  list-style: none;
  margin-left: 0px;
}